// Reset
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Global
body{
  font-family:'Open sans','Helvetica Neue', Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

h1, h2, h3, h4, h5, h6{
  margin-top: 20px;
  margin-bottom: 20px;
}

img{
  width: 100%;
}

// Layout

// Styling navigation
.navbar{

  &-brand{
    margin-top: 2px;
    text-transform: uppercase;
    color: #9acd32;
    font-size: 1.5rem;
  }
  &-toggler{
    padding: 5px 10px;
    border: 1px solid #9d9c9c;
    border-radius: 10px;
    outline: none;
    background-color: #9acd32;

    &-icon{
      width: 25px;
      height: 25px;
  }
  }
}