.content{
  text-align: center;
  padding: 3rem 0;

  &__section-heading{
    font-size: 25px;
    line-height: 1.1;
  }

   & .text-muted{
    font-size: 16px;
    line-height: 1.5;
  }

  & .img-circle{
    border-radius: 50%;
  }
}