/** @format */
@media screen and (width >= 768px) {
	.navbar {
		padding-bottom: 1px;
		padding-top: 5px;

		&-nav {
			margin-top: 1px;

			& .nav-link {
				font-size: 21px;
			}
		}
	}

	.main-header {
		&-content {
			& h1 {
				font-size: 70px;
				line-height: 1.1;
			}

			& p {
				font-size: 24px;
			}
		}
	}

	.intro {
		&__section-heading {
			font-size: 28px;
		}

		& .text-muted {
			font-size: 21px;
		}
	}

	.content {
		& .text-muted {
			font-size: 21px;
		}

		& .btn {
			margin-left: 0;
		}

		& .col-768 {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	.content2 {
		& .text-muted {
			font-size: 21px;
		}

		& .btn {
			margin-left: 0;
		}

		& .col-768 {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
	}

	.content3 {
		& .text-muted {
			font-size: 21px;
		}

		& .btn {
			margin-left: 0;
		}
	}
}
@media screen and (width >= 1200px) {
	// Global
	.btn {
		font-size: 26px;
		padding: 10px 25px;
	}

	.main-header {
		&-content {
			& h1 {
				font-size: 120px;
				line-height: 1.1;
			}

			& p {
				font-size: 32px;
			}
		}
	}

	.intro {
		&__section-heading {
			font-size: 30px;
		}

		& .text-muted {
			font-size: 26px;
		}
	}

	.content {
		&__section-heading {
			font-size: 30px;
		}

		& .text-muted {
			font-size: 26px;
		}
	}

	.content2 {
		&__section-heading {
			font-size: 32px;
		}

		& .text-light {
			font-size: 26px;
		}
	}

	.content3 {
		&__section-heading {
			font-size: 32px;
		}

		& .text-light {
			font-size: 26px;
		}
	}
}
