/** @format */

// Styling navigation
.navbar {
	&-brand {
		color: #9acd32;
		font-size: 1.5rem;
		margin-top: 2px;
		text-transform: uppercase;
	}

	&-toggler {
		border: 1px solid #9d9c9c;
		border-radius: 5px;
		outline: none;
		padding: 5px 10px;

		&-icon {
			height: 25px;
			width: 25px;
		}
	}
}
