/** @format */

.promotion {
	& .container-fluid {
		padding: 0;
	}

	& .col-md-4 {
		padding: 0;
	}

	&__item {
		align-items: center;
		display: flex;
		height: 200px;
		justify-content: center;
		text-align: center;

		& h3 {
			color: #9acd32;
			font-size: 40px;
			margin: unset;
			text-shadow: 0 0 40px #000;
		}

		&:hover {
			border: 10px solid rgb(255 255 255 / 30%);
		}
	}

	& .item-1 {
		background-image: url("../images/writing.jpg");
	}

	& .item-2 {
		background-image: url("../images/concert.jpg");
	}

	& .item-3 {
		background-image: url("../images/pencil_sharpener.jpg");
	}

	& .item-1,
	.item-2,
	.item-3 {
		background-position: center;
		background-size: cover;
	}
}
