.promotion{

  & .container-fluid{
    padding: 0;
  }

  & .col-md-4{
    padding: 0;
  }

  &__item{
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    & h3{
    margin: unset;
    color: #9acd32;
    font-size: 40px;
    text-shadow: 0 0 40px #000;
    }

    &:hover{
    border: 10px solid rgba(255, 255, 255, .3);
    }
  }

  & .item-1{
    background-image: url(../images/writing.jpg);
  }

  & .item-2{
    background-image: url(../images/concert.jpg);
  }

  & .item-3{
    background-image: url(../images/pencil_sharpener.jpg);
  }

  & .item-1,
    .item-2,
    .item-3{
    background-size: cover;
    background-position: center;
  }
}